@use 'sass:color';
@use 'variables';

@font-face {
  font-family: 'Windsong';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/windsong-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('fonts/gothicb.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/montserrat-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/montserrat-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sensations and Qualities';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/sensations-and-qualities.ttf') format('truetype');
}

@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/cabin-sketch.ttf') format('truetype');
}

body {
  font-family: variables.$font-family-default;
  color: variables.$font-color-default;
  font-size: variables.$font-size-default;
  line-height: variables.$line-height-default;
  margin: 0;
  padding: 0;
}

a {
  font-family: variables.$font-family-default;
  color: variables.$font-color-default;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0 0 variables.$space-xxs 0;
  list-style-type: none;
}

.u-button {
  display: inline-block;
  font-size: variables.$font-size-m;
  text-transform: uppercase;
  padding: variables.$space-s variables.$space-xxl;
  border: 1px solid variables.$font-color-default;

  &:hover {
    color: color.adjust(variables.$font-color-default, $lightness: -20%);
    border-color: color.adjust(variables.$font-color-default, $lightness: -20%);
  }

  &--primary {
    background-color: variables.$font-color-default;

    &:hover {
      background-color: color.adjust(variables.$font-color-default, $lightness: -20%);
    }
  }

  &--primary-white {
    color: rgb(5, 10, 10);
    background-color: variables.$font-color-white;
    border-color: variables.$font-color-white;

    &:hover {
      color: rgb(5, 10, 10);
      background-color: color.adjust(variables.$font-color-white, $lightness: -10%);
      border-color: color.adjust(variables.$font-color-white, $lightness: -10%);
    }
  }

  &--primary-beige {
    color: rgb(5, 10, 10);
    background-color: variables.$background-color-alternate;
    border-color: variables.$background-color-alternate;

    &:hover {
      color: rgb(5, 10, 10);
      background-color: color.adjust(variables.$background-color-alternate, $lightness: -10%);
      border-color: color.adjust(variables.$background-color-alternate, $lightness: -10%);
    }
  }

  &--small {
    padding: variables.$space-xs variables.$space-s;
  }
}

.u-font-xs {
  font-size: variables.$font-size-xs;
  &--paragraph {
    margin-bottom: variables.$font-size-xs * variables.$line-height-default;
  }
}

.u-font-s {
  font-size: variables.$font-size-s;
  &--paragraph {
    margin-bottom: variables.$font-size-s * variables.$line-height-default;
  }
}

.u-font-m {
  font-size: variables.$font-size-m;
  &--paragraph {
    margin-bottom: variables.$font-size-m * variables.$line-height-default;
  }
}

.u-font-l {
  font-size: variables.$font-size-l;
}

.u-font-xl {
  font-size: variables.$font-size-xl;
}

.u-font-xxl {
  font-size: variables.$font-size-xxl;
}

.u-text-align-center {
  text-align: center;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-nowrap {
  text-wrap: nowrap;
}

.u-background-alternate {
  background-color: variables.$background-color-alternate;
}

.u-max-page-width {
  max-width: variables.$max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 variables.$space-m;
  box-sizing: border-box;
}

@media (max-width: variables.$max-width-mobile) {
  .u-nowrap--wrap-mobile {
    text-wrap: auto;
  }
}

.u-heading {
  font-family: variables.$font-family-header-default;
  font-size: variables.$font-size-xl;
  color: variables.$font-color-default;
  text-align: center;
  padding: variables.$space-xl variables.$space-m;

  &--white {
    color: variables.$font-color-white;
  }

  &--no-padding-top {
    padding: 0 variables.$space-m variables.$space-xl variables.$space-m;
  }
}

.section {
  padding: variables.$space-xxl 0;
}

.u-margin-top {
  &-xs {
    margin-top: variables.$space-xs;
  }
  &-s {
    margin-top: variables.$space-s;
  }
  &-m {
    margin-top: variables.$space-m;
  }
  &-l {
    margin-top: variables.$space-l;
  }
  &-xl {
    margin-top: variables.$space-xl;
  }
}

.u-margin-bottom {
  &-xs {
    margin-bottom: variables.$space-xs;
  }
  &-s {
    margin-bottom: variables.$space-s;
  }
  &-m {
    margin-bottom: variables.$space-m;
  }
  &-l {
    margin-bottom: variables.$space-l;
  }
  &-xl {
    margin-bottom: variables.$space-xl;
  }
  &-xxl {
    margin-bottom: variables.$space-xxl;
  }
}

.u-margin-left {
  &-xs {
    margin-left: variables.$space-xs;
  }
  &-s {
    margin-left: variables.$space-s;
  }
  &-m {
    margin-left: variables.$space-m;
  }
  &-l {
    margin-left: variables.$space-l;
  }
  &-xl {
    margin-left: variables.$space-xl;
  }
  &-xxl {
    margin-left: variables.$space-xxl;
  }
}

.u-margin-right {
  &-xs {
    margin-right: variables.$space-xs;
  }
  &-s {
    margin-right: variables.$space-s;
  }
  &-m {
    margin-right: variables.$space-m;
  }
  &-l {
    margin-right: variables.$space-l;
  }
  &-xl {
    margin-right: variables.$space-xl;
  }
  &-xxl {
    margin-right: variables.$space-xxl;
  }
}

.u-text-block {
  h1 {
    text-transform: uppercase;
    font-size: variables.$font-size-xl;
    color: variables.$font-color-default;
    margin-top: variables.$space-xl;
    margin-bottom: variables.$space-m;
  }

  h2 {
    text-transform: uppercase;
    font-size: variables.$font-size-l;
    color: variables.$font-color-default;
    margin-top: variables.$space-xl;
    margin-bottom: variables.$space-m;
  }

  h3 {
    text-transform: uppercase;
    font-size: variables.$font-size-m;
    color: variables.$font-color-default;
    margin-top: variables.$space-l;
    margin-bottom: variables.$space-s;
  }

  p {
    @extend .u-font-m;
    &:not(:last-child) {
      @extend .u-font-m--paragraph;
    }
    &.u-margin-bottom-xs {
      @extend .u-margin-bottom-xs;
    }
  }

  a {
    text-decoration: underline;
  }

  .u-font-s {
    @extend .u-font-s;
  }
  .u-font-s--paragraph {
    @extend .u-font-s--paragraph;
  }
}

.u-text-justify {
  text-align: justify;
}

.u-object-position-top {
  object-position: top;
}
