$font-color-default: #808080;
$font-color-white: #e0e0e0;
$font-family-default: 'Gothic', Arial, sans-serif;
$font-family-header-default: 'Windsong', Arial, sans-serif;

$font-size-xs: 10px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 36px;

$font-size-default: $font-size-m;

$line-height-xs: 12px;
$line-height-s: 18px;
$line-height-m: 24px;
$line-height-l: 32px;
$line-height-xl: 40px;
$line-height-xxl: 48px;

$size-xs: 8px;
$size-s: 16px;
$size-m: 24px;
$size-l: 32px;

$space-xxs: 4px;
$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 48px;
$space-xxl: 64px;
$space-xxxl: 120px;

// $max-content-width: 1180px;

$max-width-mobile: 567.98px;
$max-width-mobile-landscape: 767.98px;
$max-width-tablet: 991.98px;
$max-width-desktop: 1199.98px;
$min-width-desktop-large: 1200px;

$background-color-default: #ffffff;
$background-color-alternate: #f7f6f4;
$background-color-dark: #4b4b4d;
