@import 'variables';

@font-face {
  font-family: 'Windsong';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/windsong-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('fonts/gothicb.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/montserrat-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/montserrat-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sensations and Qualities';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/sensations-and-qualities.ttf') format('truetype');
}

@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/cabin-sketch.ttf') format('truetype');
}

body {
  font-family: $font-family-default;
  color: $font-color-default;
  margin: 0;
  padding: 0;
}

a {
  font-family: $font-family-default;
  color: $font-color-default;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0 0 $space-xxs 0;
  list-style-type: none;
}

.u-button {
  display: inline-block;
  font-size: $font-size-m;
  text-transform: uppercase;
  padding: $space-s $space-xxl;
  border: 1px solid $font-color-default;
  border-radius: 4px;

  &:hover {
    color: darken($font-color-default, 20%);
    border-color: darken($font-color-default, 20%);
  }

  &--primary {
    background-color: $font-color-default;

    &:hover {
      background-color: darken($font-color-default, 20%);
    }
  }

  &--primary-white {
    color: rgb(5, 10, 10);
    background-color: $font-color-white;
    border-color: $font-color-white;

    &:hover {
      color: rgb(5, 10, 10);
      background-color: darken($font-color-white, 10%);
      border-color: darken($font-color-white, 10%);
    }
  }

  &--primary-gray-blue {
    color: rgb(5, 10, 10);
    background-color: #7ea7bf;
    border-color: #7ea7bf;

    &:hover {
      color: rgb(5, 10, 10);
      background-color: darken(#7ea7bf, 10%);
      border-color: darken(#7ea7bf, 10%);
    }
  }

  &--small {
    padding: $space-xs $space-s;
  }
}

.u-font-xs {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  &--paragraph {
    margin-bottom: $line-height-xs;
  }
}

.u-font-s {
  font-size: $font-size-s;
  line-height: $line-height-s;
  &--paragraph {
    margin-bottom: $line-height-s;
  }
}

.u-font-m {
  font-size: $font-size-m;
  line-height: $line-height-m;
  &--paragraph {
    margin-bottom: $line-height-m;
  }
}

.u-font-l {
  font-size: $font-size-l;
  line-height: $line-height-l;
  &--paragraph {
    margin-bottom: $line-height-l;
  }
}

.u-font-xl {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  &--paragraph {
    margin-bottom: $line-height-l;
  }
}

.u-font-xxl {
  font-size: $font-size-xxl;
  line-height: $line-height-xxl;
  &--paragraph {
    margin-bottom: $line-height-l;
  }
}

.u-uppercase {
  text-transform: uppercase;
}

.u-heading {
  font-family: $font-family-header-default;
  font-size: $font-size-xl;
  color: $font-color-default;
  text-align: center;
  padding: $space-xl $space-m;

  &--white {
    color: $font-color-white;
  }
}

.section {
  padding: $space-xxl 0;
}

.u-margin-top {
  &-xs {
    margin-top: $space-xs;
  }
  &-s {
    margin-top: $space-s;
  }
  &-m {
    margin-top: $space-m;
  }
  &-l {
    margin-top: $space-l;
  }
  &-xl {
    margin-top: $space-xl;
  }
}

.u-margin-bottom {
  &-xs {
    margin-bottom: $space-xs;
  }
  &-s {
    margin-bottom: $space-s;
  }
  &-m {
    margin-bottom: $space-m;
  }
  &-l {
    margin-bottom: $space-l;
  }
  &-xl {
    margin-bottom: $space-xl;
  }
  &-xxl {
    margin-bottom: $space-xxl;
  }
}

.u-margin-left {
  &-xs {
    margin-left: $space-xs;
  }
  &-s {
    margin-left: $space-s;
  }
  &-m {
    margin-left: $space-m;
  }
  &-l {
    margin-left: $space-l;
  }
  &-xl {
    margin-left: $space-xl;
  }
  &-xxl {
    margin-left: $space-xxl;
  }
}

.u-margin-right {
  &-xs {
    margin-right: $space-xs;
  }
  &-s {
    margin-right: $space-s;
  }
  &-m {
    margin-right: $space-m;
  }
  &-l {
    margin-right: $space-l;
  }
  &-xl {
    margin-right: $space-xl;
  }
  &-xxl {
    margin-right: $space-xxl;
  }
}

.u-text-block {
  h1 {
    text-transform: uppercase;
    font-size: $font-size-xl;
    line-height: $line-height-xl;
    color: $font-color-default;
    margin-top: $space-xl;
    margin-bottom: $space-m;
  }

  h2 {
    text-transform: uppercase;
    font-size: $font-size-l;
    line-height: $line-height-l;
    color: $font-color-default;
    margin-top: $space-xl;
    margin-bottom: $space-m;
  }

  h3 {
    text-transform: uppercase;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $font-color-default;
    margin-top: $space-l;
    margin-bottom: $space-m;
  }

  p {
    @extend .u-font-m;
    @extend .u-font-m--paragraph;
  }

  .u-font-s {
    @extend .u-font-s;
  }
  .u-font-s--paragraph {
    @extend .u-font-s--paragraph;
  }
}

.u-text-justify {
  text-align: justify;
}
